
# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=../hyperf-skeleton

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects that use laradock to have separate containers per project.
COMPOSE_PROJECT_NAME=hyperf





WORKSPACE_TIMEZONE=UTC

DATA_PATH_HOST=~/.hyperf/data

MARIADB_VERSION=latest
MARIADB_DATABASE=mariadb
MARIADB_USER=root
MARIADB_PASSWORD=localhost
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIADB_ENTRYPOINT_INITDB=./mariadb/docker-entrypoint-initdb.d

HYPERF_PORT=9501

#SITE_VIP=http://localhost
